[Unit]
Description=Check for Aura Display updates every Wednesday at 4AM

[Timer]
OnCalendar=Wed *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
